.emacs.d/vendor/*
!.emacs.d/vendor/update.rb
.emacs.d/auto-save-list
.emacs.d/recentf
.emacs.d/molokai.el
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.zsh_history
.config/nvim/start
.config/nvim/opt
.zsh/rodete.zsh
.zsh/plugins
.tmux/plugins
