[core]
	excludesfile = /Users/jyane/.gitignore_global
	editor = nvim
[user]
	name = Shohei Kamimori
	email = jyane.kstm@gmail.com
	signingkey = FDD08433F51E30F8C2D6753BFAF67B7ED094F54D
[alias]
  alias = !git config --get-regexp alias
  unstage = reset -q HEAD --
  uncommit = reset --mixed HEAD~
  discard = checkout --
  stashes = stash list
  graph = log --graph -1000 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
  history = log -1000 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
  branches = branch -a
  untrack = rm -r --cached
  prune = fetch --prune
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
