[user]
	email = jyane.kstm@gmail.com
	name = Shohei Kamimori
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEcS8DuVqhBaWw2zWOcNZbVKbvqModLK41G9CxgkCr2U
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	editor = nvim
[alias]
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
[includeIf "gitdir:/home/skamimori/"]
	path = ~/.gitconfig_skamimori
[includeIf "gitdir:/usr/local/google/home/skamimori/"]
	path = ~/.gitconfig_skamimori
